.OfferDealMenu{
    padding: 12px;
    display: flex;
    width: 290px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    border: 1px solid rgb(226, 226, 231);
    align-items: center;
    gap: 16px;
    cursor: pointer;
}
.OfferDealMenu img{
    width: 40px;
    height: 100%;
    object-fit: contain;
}
.OfferDealMenu p{
     font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 20px;

}

@media(max-width:400px){
    .OfferDealMenu{
        padding: 8px;
    }
}