.LoginSignUpComponent{
    display: flex;
    width: 100%;
}
.loginButton1{
    border: 1px solid #60b246;
    color: #60b246;
    margin-left: 40px;
    text-align: center;
    padding: 8px 35px 9px;
    line-height: 1.2;
    cursor: pointer;
    background-color: white;
}
.loginButton1 span{
    font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 13px;
  font-style: normal;
}
.loginButton1 p{
    font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 14px;
  font-style: normal;
}
.loginButton1:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.loginButton2{
    color: white;
    margin-left: 40px;
    text-align: center;
    padding: 8px 35px 9px;
    line-height: 1.2;
    cursor: pointer;
    background-color:#60b246;
}
.loginButton2 span{
       font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 13px;
  font-style: normal;
}
.loginButton2 p{
    font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 14px;
  font-style: normal;
}