.RestaurantPage{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    width: 100%;
    padding: 14px;
    align-items: flex-start;
    margin-bottom: 20px;
}
.RestaurantNameSection{
    display: flex;
    width: 100%;
}
.RestaurantNameSection p{
    font-family: "Roboto", sans-serif;
  font-weight:800;
  font-style: normal;
  font-size: 24px;
}
.RestaurantInfoSection{
    margin-top: 40px;
    width: 100%;
    display: flex;
}

.RestaurantProductContainner{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin-top: 10px;
}

@media(max-width:405px){
    .RestaurantNameSection p{
    font-family: "Roboto", sans-serif;
  font-weight:800;
  font-style: normal;
  font-size: 20px;
}
}
@media(max-width:350px){
    .RestaurantNameSection p{
    font-family: "Roboto", sans-serif;
  font-weight:800;
  font-style: normal;
  font-size: 17px;
}
}