.App{
    display: flex;
    flex-direction: column;
}
.Content{
  padding-top: 75px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}
/* For Chrome, Safari, and other WebKit browsers */
::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
*{
  list-style: none;
  list-style-type: none;
  text-decoration: none;
}

*{
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
  -tap-highlight-color: transparent;
}

/* For Firefox */
* {
  scrollbar-width: none;  /* Hide scrollbar */
  -ms-overflow-style: none;  /* For Internet Explorer 10+ */
}

/* For Internet Explorer and Edge */
* {
  -ms-overflow-style: none;  /* Hide scrollbar */
}
