.ProductImageDiv{
    display: flex;
    position: relative;
    width: 210px;
}
.searchPageIMageDiv{
    display: flex;
    position: relative;
    width: 140px;
    height: 140px;
}
.searchPageIMageDiv img{
    width: 100%;
    height: 100%;
     border-radius: 10px;
}
.ProductImageDiv img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.AddProductButton{
  position: absolute;
  width: 100px;
  padding: 7px;
  top: 86%;
  left: 26%;
  cursor: pointer;
  border: none;
  background-color: white;
  color: green;
  font-weight: 600;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.AddProductButton:hover{
    border: none;
    background-color: rgb(174, 173, 173);

}

.TwoButtonCOntainner{
    width: 100%;
    margin-top: 27px;
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 5px;
}


.Nobtn{
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    background-color: #fff;
    border: 2px solid #60b246;
    font-weight: 600;
    padding: 13px;
    color: #60b246;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase;
}
.Nobtn:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Yesbtn:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Yesbtn{
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    padding: 13px;
    background-color: #60b246;
    border: 2px solid #60b246;
    font-weight: 600;
    color: #fff;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase;
}






@media(max-width:640px){
    .ProductImageDiv{
    display: flex;
    position: relative;
    width: 180px;
    height: 180px;
}
}


@media(max-width:500px){
    .ProductImageDiv{
    display: flex;
    position: relative;
    width: 160px;
    height: 160px;
}
}


@media(max-width:380px){
    .ProductImageDiv{
    display: flex;
    position: relative;
    width: 138px;
    height: 138px;
}
}