.RestaurantInfoModal{
   border-radius: 20px;
    border: 1px solid rgba(2, 6, 12, 0.15);
    background: white;
    width: 100%;
    cursor: pointer;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 8px 16px 0px;
}
.TopContainner{
        background: linear-gradient(rgb(255, 255, 255) -6.71%, rgb(235, 235, 242) 56.19%, rgb(223, 223, 231) 106.56%);
    padding: 0px 16px 16px;
    border-bottom-left-radius: 36px;
    width: 100%;
    border-bottom-right-radius: 36px;
}
.OutLetInfoSection{
    margin-top: 29px;
    display: flex;
    align-items: center;
    gap: 10px;
     font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;

}
.OutLetInfoSection p{
     font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.OutLetInfoSection h5{
    color:  #a2a2a2;
}
.ModalDivider{
    display: flex;
    width: 100%;
    height: 2px;
    margin-top: 30px;
    background-color: #efeded;
}
.CuisineSection{
    margin-top: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
}
.CusineHeader{
     font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
  color: #363636;
}
.CusineName{
       font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 13px;
  color: black;
}

@media(max-width:350px){
    .CusineName{
       font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 11px;
  color: black;
}
}